/data/astocks/
/wordclouds/hot/
/fetch/tonghuashun/excel/
/config/default.ini
/data/concepts_data/
/data/astocks_minute/
/kline_charts/
/data/indexes/
/data/long/
__pycache__/
.idea/
.cursor/
.venv*/
.vscode/
.deps/
env/
images/
local.ini
run_main.py
.specstory/**
temp/
candidate_stocks_result/